%br
.row
  .large-12.small-12.columns
    %fieldset
      %legend Let's Waitlist
      = form_tag '/login', :remote => true do
        = label_tag :email
        = text_field_tag :email, nil, :autofocus => true
        = label_tag :password
        = password_field_tag :password
        = link_to('Cancel', '#', :'data-clear-form' => true, :class => 'button tiny radius alert')
        = submit_tag 'Start The Queue', :class => 'button tiny radius success'
