/ = form_tag '/users', :remote => true do
/   = label_tag :name
/   = text_field_tag :name, nil, :autofocus => true
/   = label_tag :email
/   = text_field_tag :email
/   = label_tag :password
/   = password_field_tag :password
/   = label_tag :password_confirmation
/   = password_field_tag :password_confirmation
/   = label_tag :address
/   = text_field_tag :address
/   = link_to('X', '#', :class => 'close-reveal-modal')
/   = submit_tag 'Create New User', :class => 'button tiny radius success'
= form_for @user, :remote => true do |f|
  = f.label :name
  = f.text_field :name, autofocus: true
  = f.label :email
  = f.text_field :email
  = f.label :password
  = f.password_field :password
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  = f.label :address
  = f.text_field :address
  = link_to('X', '#', :class => 'close-reveal-modal')
  = f.submit 'Create New User', :class => 'button tiny radius success'
