.row
  .small-3.columns
    = form_for @reservation, :remote => true do |f|
      = f.label :name
      = f.text_field :name
      = f.label :phone
      = f.text_field :phone
      = f.label :party_size
      = f.text_field :party_size, :autofocus => true
      = f.label :date
      = f.text_field :date
      = f.label :est_wait
      = f.text_field :est_wait
      = link_to('Cancel', '#', :'data-clear-form' => true, :class => 'button tiny radius alert')
      = f.submit 'Create Reservation', :id => 'create_reservation_button', :class => 'button radius tiny'
  / .small-9.columns
  /   %ol
  / - @reservations.each do |reservation|
  /   %li
  /     %ul
  /       %form{:action => "/reservations/sendtext", :method => "post"}
  /         %li= reservation.name
  /         %li= reservation.phone
  /         %input{:name => "first", :type => "hidden", :value => reservation.name}
  /           %li
  /             %input{:name => "body", :type => "text"}/
  /           %li
  /             %button Send Text

