%table
  %th Name
  %th Phone
  %th Est Wait
  %th Act Wait
  %th Msg
  %th Text
  %th Arrived
  - @reservationswaiting.each do |reservation|
    = content_tag_for(:tr, reservation, class: "#{reservation.is_texted ? 'notified' : ''}") do
      =form_tag sendtext_reservation_path(reservation), :remote => true do
        %td
          = label_tag reservation.name
        %td
          = label_tag reservation.phone
        %td
          = label_tag reservation.est_wait
          = hidden_field_tag('phone', reservation.phone)
          = hidden_field_tag('first', reservation.name)
        %td
          .datetime{:'data-created' => reservation.created_at}
            -if reservation.act_wait != 0
              =reservation.act_wait
        %td
          = text_area_tag('body', nil, :rows => 3 )
        %td
          = submit_tag('Send Text', :disabled => reservation.is_texted)
        %td
          = link_to('Seat', seated_reservation_path(reservation), :remote => true, :method => :post, :disabled => !reservation.is_texted)