%table
  %th Name
  %th Phone
  %th Est Wait
  %th Act Wait
  %th Msg
  %th Text
  %th Text Sent
  - @reservationsnotseated.each do |reservation|
    = content_tag_for(:tr, reservation) do
      =form_tag sendtext_reservation_path(reservation), :remote => true do
        %td
          = label_tag reservation.name
        %td
          = label_tag reservation.phone
        %td
          = label_tag reservation.est_wait
          = hidden_field_tag('phone', reservation.phone)
          = hidden_field_tag('first', reservation.name)
        %td
          .datetime{:'data-created' => reservation.created_at}
        %td
          = text_area_tag('body', nil, :rows => 3 )
        %td
          = submit_tag('Send Text')
        %td
          = check_box_tag("texted")
