%table
  %th Name
  %th Phone
  %th Wait
  - @reservationsseated.each do |reservation|
    / %tr{:id => "reservation_#{reservation.id}"}
    = content_tag_for(:tr, reservation) do
      =form_tag sendtext_reservation_path(reservation), :remote => true do
        %td
          = label_tag reservation.name
        %td
          = label_tag reservation.phone
        %td
          = label_tag reservation.est_wait
          = hidden_field_tag('phone', reservation.phone)
          = hidden_field_tag('first', reservation.name)