.row
  .small-3.columns
    = form_for @reservation, :remote => true do |f|
      = f.label :name
      = f.text_field :name
      = f.label :phone
      = f.text_field :phone
      = button_to_function('Cancel', 'cancel_user_form()',:class => 'button radius tiny alert')
      = f.submit 'Send Text', :class => 'button radius tiny'
  .small-9.columns